 body{
 	font-family: "Microsoft Yahei";
 	font-weight:bold;
 	background: url(http://r.photo.store.qq.com/psb?/V14Nu7ch3uxwUL/JBjYEgJlEfCY5z8YJN100rYjkHArrAwTmBgHwME9v7E!/r/dDUBAAAAAAAA);
	background-size: cover;
    background-attachment: fixed;
	background-repeat: no-repeat;

 }
 .all{
 	position: absolute;
    top: 35%;
    left: 50%; 
    transform: translate(-50%,-50%)
 }
@keyframes h1{
 	form{font-size: 0px;}
	to{ font-size: 85px;}

 }
 @-moz-keyframes h1{
 	form{font-size: 0px;}
	to{ font-size: 85px;}

 }
 @-webkit-keyframes h1{
 	form{font-size: 0px;}
	to{ font-size: 85px;}


 }
 .h1{
 	-moz-animation:h1 2s; /* Firefox */
	-webkit-animation:h1 2s;
	-webkit-animation-fill-mode:forwards;/* Safari and Chrome */
	-o-animation:h1 2s; /* Opera */

 }





 @keyframes llmdph{
 	form{font-size: 0px;}
	to{ font-size: 70px;}

 }
 @-moz-keyframes llmdph{
 	form{font-size: 0px;}
	to{ font-size: 70px;}

 }
 @-webkit-keyframes llmdph{
 	form{font-size: 0px;}
	to{ font-size: 70px;}


 }

.llmdph{


	color:bule;
	text-decoration: none;
	-moz-animation:llmdph 5s; /* Firefox */
	-webkit-animation:llmdph 0.5s;
	-webkit-animation-fill-mode:forwards;/* Safari and Chrome */
	-o-animation:llmdph 1.5s; /* Opera */

}
.llmdph:hover{
	color:skyblue;
}
